extends ../layout

block head
  title Guinness

block content
  // Page Content
  .container-fluid
    // Portfolio Item Heading
    .rowGuinness
      .col-lg-12
        h1.page-header
          | Fermentazione Alcolica
          small  Analisi della via metabolica
          a.btn.btn-default.btn-lg.Guinness(href='./timeline.html#Guinness' type='button')
            span.glyphicon.glyphicon-home

    .row
      .col-md-5
        img.img-responsive.img-Guinness(src='./images/fermentazione.jpg', alt='')
      .col-md-6
        h3.keypointstitle Note fondamentali:
          ul.keypoints
            li Avviene in condizioni di ANAEROBIOSI, dopo il completamento della glicolisi.
            li Questa via metabolica è garantita dai lieviti. Nel nostro caso appartenenti alla famiglia dei Saccharomyces cerevisiae.
        h3.keypointstitle Tappe del Processo:
          ul.keypoints
            li Il privato, prodotto dalla glicolisi, viene decarbossilato dall’enzima privato decarbossilasi ad acetaldeide con la liberazione di CO2.
            li L’acetaldeide viene ridotta ad ETANOLO dall’enzima ALCOL DEIDROGENASI che nel frattempo ossida del NADH a NAD+.
        h3.plot Effetti sull'uomo:
        p  Nelle cellule epatiche del nostro organismo è presente un enzima, l’alcol deidrogenasi (ADH), che riesce a metabolizzare l’etanolo.
          |Infatti nel nostro fegato questo enzima catalizza l’ossidazione dell’etanolo assunto tramite la dieta con la riduzione del NAD+ a NADH cioè esattamente il processo inverso di quello che avviene durante la seconda tappa della fermentazione. 
          |Successivamente verrà ossidato ad ACETATO tramite l’enzima acetaldeide deidrogenasi (ALD). Quest’ultima molecola verrà espulsa dal fegato e trasportata dal sangue verso i tessuti dove verrà legata al coenzima A (CoA) formando l’acetil-CoA che potrà entrare nel ciclo di Krebs o unirsi al glicerolo formando dei trigliceridi. 
          |Se è presente in eccesso, come nel caso di un irlandese il venerdì sera, verrà trasformata in corpi chetonici, che potrebbero causare problemi come la chetosi il cui sintomo maggiore è l’alitosi.
        hr
        p Fonti: "Biochimica, dal metabolismo alle nuove tecnologie". Autori: A.Tottola, A. Allegrezza, M. Righetti.
