extends ../layout

block head
  title Home
block content

  div.body-page


    div.body-page-bg

      div.header-container

        div.header-container-text

          div.header-text

            h1.titolo Dublino 
            hr
            h3.sottotitolo Liceo Ariosto Spallanzani ⁓ Anno scolastico 2016/2017    
            p.nome Giulia Bertani Classe 5°F
            div.header-bottone

              a(href='./timeline.html' type='button') ENTRA	
 
