extends ../layout

block head
  title Joyce

block content
  // Page Content
  .container-fluid
    // Portfolio Item Heading
    .rowJoyce
      .col-lg-12
        h1.page-header
          | Ulysses
          small  Joyce
          a.btn.btn-default.btn-lg(href='./timeline.html#Mappa' type='button')
            span.glyphicon.glyphicon-home

    .row
      .col-md-3
        img.img-responsive.img-Ulysses(src='./images/Ulysses.jpg', alt='')
      .col-md-6.col-sm-push-1
        h3.keypointstitle Key Points:
          ul.keypoints
            li Joyce stressed the lack of heroism, of ideals, of love and trust in the modern society.
            li Detailed description of the events of an ordinary life seen from the inside of the character's mind.
            li The “stream-of-consciousness technique”.
            li Ulysses is closely modelled on the Odyssey, but the parallel is reductive. 
        h3.plot Plot:
        p  The author's masterpiece is the novel Ulysses. As all his works, it is set in the modern Dublin and tells the story of a day, June 16,1904, in the life of Leopold Bloom. 
         | He gets up, attends a funeral of a friend, goes to his office, wanders all day and ends up at midnight in a brothel where he meets Stephen Dedalus whit whom he will go at home. The first parte of the novel is dedicated to Dedalus who is a cultivated young man frustrated by the Irish provincial life. He’s in search of a father figure, that eventually founds in Bloom, and corresponds to Ulysses’ son Telemachus. The last part of the novel deals with Bloom’s life, Molly, who refers to Penelope but unlike her she’s unfaithful to her husband.
         | The end is the famous stream-of-consciousness  monologue that she made while she’s lying awake on bed thinking about her present and past.
        hr
        p Fonti:  "Millennium 2, from the Victorian to the Present".  Autori : A. Cattaneo e D. De Flavis.

  


