extends ../layout

block head
  title Timeline
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='styles.css')
  script(src='http://code.jquery.com/jquery-latest.min.js', type='text/javascript')
  script(src='script.js')
  title CSS MenuMaker                                                               

block content
  #cssmenu
    ul
      li.active
        a(href='#')
          span Dublino
      li
        a(href='#Simboli')
          span Simboli Tradizionali
      li
        a(href='#Mappa')
          span Cartina
      li
        a(href='#Joyce')
          span James Joyce
      li
        a(href='#Guinness')
          span Guinness
      li.last
        a(href='#LittleMuseum')
          span The Little Museum of Dublin
  .container
    .introduzione
      h1 Un tuffo nel cuore dell'Irlanda 
      p Prima di iniziare a raccontarvi delle piccole meraviglie di questa città volevo spiegarvi il perché di questa scelta.
          | In effetti Dublino è la capitale di uno Stato, situato nella periferia Europea, che si è modernizzato soltanto negli ultimi anni e che rimane sempre un pò fuori dall’attenzione mediatica e dal turismo di massa. 
          | Eppure, quando l’anno scorso mi sono ritrovata a lavorarci e viverci per un mese, non potevo restarne più affascinata.
          | E' una città a misura d’uomo, piccola e raccolta che si riesce a visitare in poco tempo ma non smette mai di stupire.
          | E’ in generale una città moderna, non una grande metropoli come Londra o Parigi ma forse è proprio per questo che mi ha conquistata così tanto: 
          | il clima intimo e accogliente ti permette di conoscerla a fondo, di sentirti parte della comunità locale e gli irlandesi sono sempre pronti a farvi sentire a casa.
      p  Oggi voglio cercare di trasmettermi un pò della magia che vi ho trovato... e Buon Viaggio!
        
      img.col-sm-4.col-sm-push-1(src='./images/bimbo.jpg')
      img.col-sm-4.col-sm-push-2(src='./images/ponte.jpg')
    br
    .mappa#Mappa
    .row.primo#Simboli
      .col-sm-4.col-sm-push-1
        img.img-circle.img-responsive.img-center(src='./images/Trifoglio copia.jpg', alt='')
        h2 Trifoglio
        p Il trifoglio era una delle piante sacre agli antichi Celti e solo secoli più tardi venne associato a Saint Patrick, patrono e protettore dell'isola. 
          | Secondo la leggenda, infatti, San Patrizio utilizzò proprio un trifoglio per spiegare alle popolazioni pagane dell'isola il significato della Trinità Cristiana, ben sapendo che questa pianta  era da loro considerata sacra. 
          | Sia il trifoglio che l'arpa sono simboli di Stato ufficiali.
      .col-sm-4.col-sm-push-2
        img.img-circle.img-responsive.img-center(src='./images/Arpa.jpg', alt='')
        h2 Arpa
        p  Nell'antica società Celtica i suonatori d'Arpa avevano il compito di celebrare il capo Clan e la sua famiglia. Per questa ragione, durante la lunga e sofferta occupazione inglese, divenne il simbolo della popolazione locale.
         | L'arpa è anche parte del logo della famosa birra GUINNESS. Inoltre la Repubblica d'Irlanda è l'unica nazione al mondo ad avere come simbolo uno strumento musicale.
    .row.secondo
      .col-sm-4.col-sm-push-1
        img.img-circle.img-responsive.img-center(src='./images/Claddagh.jpg', alt='')
        h2 Claddagh
        p Il simbolo viene usato per decorare gli anelli di fidanzamento irlandesi. Le mani simboleggiano l'amicizia, la corona è simbolo di lealtà e il cuore dell'amore.
          | Lo scopo per cui questo anello viene scelto è manifestato dal modo in cui viene indossato, il significato differisce infatti se portato nella mano destra o sinistra e anche nell'orientazione della punta del cuore.
      .col-sm-4.col-sm-push-2
        img.img-circle.img-responsive.img-center(src='./images/Leprechaun.jpg', alt='')
        h2 Lepricano
        p
          | Il Leprechaun è un folletto che si diverte a fare scherzi. Si burla soprattutto degli avari e costruisce trappole geniali per i ladri. La leggenda narra che custodisca una pentola piena d’oro nascosta alla base dell’arcobaleno.
          | In Irlanda, per legge, se un Leprechaun bussa alla tua porta devi condividere con lui la tua cena!
    .timeslot.even#Joyce 
      div.col-md-7
        h2.subTitle James Joyce Statue
        p La statua, ai piedi della Spire, commemora uno degli scrittori irlandesi più famosi di tutti i tempi, nonostante il suo rapporto tormentato con la città ce ne lascia una realistica descrizione nei suoi due capolavori: Dubliners e Ulysses. 
        p Ogni anno, il 16 di giugno, viene celebrato dalla città con il Bloomsday: durante la giornata vengono rimessi in scena gli eventi salienti della giornata di Leopold Bloom (il protagonista di Ulysses).
        a.info(href='./Joyce.html' type='button') Approfondisci...
      img.img-responsive.col-md-5(src="./images/Joyce.jpg")
    .timeslot#Guinness
      div.col-md-7.col-md-push-5
        h2.subTitle Guinness Storehouse
        p Tra i simboli della capitale irlandese non si può non ricordare la birra Guinness. Ad oggi la centenaria fabbrica è al primo posto tra i luoghi più visitati in Irlanda. L’edificio, riconvertito a museo, conta di sette piani ognuno con una tematica diversa: dagli ingredienti al meccanismo produttivo con particolare attenzione alle leggendarie campagne pubblicitarie.
        p Sir Arthur Guinness avviò la produzione nel 1759 firmando un contratto della durata di 9000 anni con cui ottenne l’affitto del piccolo birrificio pre esistente per 45 sterline l’anno. Una scelta audace che decretò l'inizio di un grande colosso internazionale.
          |  Da quell’anno lo stabilimento continuò ad espandersi, moltiplicando la produzione e le esportazioni. Basti pensare che oggi vengono serviti più di 10 milioni di bicchieri di Guinness al giorno in tutto il mondo!
        a.info(href='./Guinness.html' type='button') Approfondisci...
      img.img-responsive.col-md-5.col-md-pull-7(src="./images/chimica.jpg")
    .timeslot.even#LittleMuseum
      div.col-md-7
        h2.subTitle The little museum of Dublin
        p Questa è davvero una delle piccole gemme nascite nella città. Si tratta di un museo situato all’interno di un’antica di stile Georgiano casa che si affaccia sul grande parco Stephene Green. Tutti i 5000 pezzi della collezione sono stati donati dai cittadini e sono disposti cronologicamente in modo tale da raccontare la storia del 900 Irlandese.
         | Una storia molto fitta di eventi che ha come tema di fondo la lotta per l’indipendenza dal repressivo governo inglese.
        a.info(href='./Storia.html' type='button') Approfondisci...
      img.img-responsive.col-md-5(src="./images/mylittlemuseum.jpg")
    
